<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <record id="menu_lottery_estadisticas" model="website.menu">
        <field name="name">Grupos</field>
        <field name="url">/estadisticas</field>
        <field name="parent_id" ref="website.main_menu"/>
        <field name="sequence">20</field>
    </record>

    <record id="menu_lottery_estadisticas_pintas" model="website.menu">
        <field name="name">Pintas</field>
        <field name="url">/estadisticas-pintas</field>
        <field name="parent_id" ref="website.main_menu"/>
        <field name="sequence">22</field>
    </record>

    <record id="menu_lottery_estadisticas_numeros" model="website.menu">
        <field name="name">Números</field>
        <field name="url">/estadisticas-numeros</field>
        <field name="parent_id" ref="website.main_menu"/>
        <field name="sequence">25</field>
    </record>

    <record id="menu_lottery_faq" model="website.menu">
        <field name="name">Preguntas frecuentes</field>
        <field name="url">/faq</field>
        <field name="parent_id" ref="website.main_menu"/>
        <field name="sequence">30</field>
    </record>

    <record id="menu_lottery_politica_privacidad" model="website.menu">
        <field name="name">Política de privacidad</field>
        <field name="url">/politica-privacidad</field>
        <field name="parent_id" ref="website.main_menu"/>
        <field name="sequence">35</field>
    </record>

    <record id="menu_lottery_terminos_condiciones" model="website.menu">
        <field name="name">Términos y condiciones</field>
        <field name="url">/terminos-condiciones</field>
        <field name="parent_id" ref="website.main_menu"/>
        <field name="sequence">40</field>
    </record>


    <menuitem id="menu_faq_root" name="Sitio Web" parent="lottery_base.home_lottery"
              groups="lottery_base.group_lottery_manager" sequence="100"/>

    <menuitem id="menu_faq_category" name="Categorías" parent="menu_faq_root" action="action_faq_category"
              groups="lottery_base.group_lottery_manager" sequence="5"/>

    <menuitem id="menu_faq" name="Preguntas" parent="menu_faq_root" action="action_faq"
              groups="lottery_base.group_lottery_manager" sequence="25"/>
</odoo>
